[essential_services]
section_type = general
action = ['accept']
default_chain = INPUT,OUTPUT
ip_version = ipv4
interface = all
protocol = tcp
#ports = 22,50
set = new_set
set_directions = src,dst,dst

[new_set]
section_type = ipset
ipset_type = hash:ip,port,ip
set_name = ['admin_workstations_x']
set_hostnames = ['lxplus,443,agkara-train','syscontrol-dev,5555,pcjcano2','kubernetes-node,80,kubernetes-master']


[access_landbset_it_db_rac13_storage_gpn_interfaces]
section_type = general
action = ['accept']
default_chain = OUTPUT,INPUT
ip_version = ipv4
interface = other
protocol = tcp,udp
ports = 123
set = landbset_it_db_rac13_storage_gpn_interfaces



[landbset_it_db_rac13_storage_gpn_interfaces]
section_type = ipset
ipset_type = hash:ip
netgroup_list = ['ATLAS EXPOSED TO ATLAS-TILE','IT CC EOS GRIDFTP','IT CC LXADM WITH SSH','IT DB RAC50 STORAGE GPN INTERFACES','IT SECURITY FIREWALL ALIENDB','IT DB RAC50 STORAGE GPN INTERFACES','IT DB RAC13 STORAGE GPN INTERFACES','IT DB RAC51 STORAGE GPN INTERFACES']
set_name = ['CERN_TEST_SET_LIST']